<% if flash[:notice] %>
  <div class="notice text-green-400"><%= flash[:notice] %></div>
<% end %>

<div class="border p-[16px] rounded text-center mt-[24px]">
  <h4 class="text-[24px]"><%= @article.title %></h4>
  <p><%= @article.content %></p>

  <p class="text-[12px] mt-[16px] p-[4px] border-t"><%= @article.user.username %></p>
</div>

<%= link_to "Go to Articles", articles_path, class: "inline-block text-cyan-400 mt-[20px] text-[12px]" %>
<%= link_to "Edit", edit_article_path, class: "inline-block text-cyan-400 mt-[20px] ml-[16px] text-[12px]" %>